html
  head
    include head
    script(type="text/x-mathjax-config").
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    script(type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML")
  body
    div.contentwrapper
      h1.grey_line Benchmark
      div.content_bench
        div(id = 'd_bench_control')
          div.control
            table.option(id="t_bench_control")
              tr
                td.option
                  p.option Metric:
                td.option
                  button.item(id="b_distance") Distance
                td.option
                  button.item(id="b_time") Time
              tr
                td.option
                  p.option Projection:
                td.option
                  button.item(id="b_orthogonal") Orthogonal
                td
                  button.item(id="b_perspective") Perspective
              tr
                td.option
                  p.option Occlusion:
                td.option
                  button.item(id="b_none") None
                td
                  button.item(id="b_self") Self
          div.control
            div(id="div_descript")
              h1.grey_line(id="h_acro")
              p(id="p_descript")
        p
          i Table below shows the performance of the currently submitted algorithms with respect to deformation type after alignment. In addition, the RMS column displays the overall root mean square of the chosen metric with respect to algorithm.
        p
          i Scroll over each row to see the full reference below.
        table.benchmark(id="tab_benchmark")
        //div
          p The distance metric in the above table is defined as a measure, normalized with respect to the ground truth. After the ground truth have been zero-meaned the query shape is aligned via Procrustes analysis. Then define the accuracy and completeness as follows.
          p.
            $$
              \begin{align}
                A(G, S) = \sqrt{\sum_j{d^2(s_j, G)}}\\
                C(G, S) = \sqrt{\sum_i{d^2(g_i, S)}}
              \end{align}
            $$
          p Where,
          p.
            $$
              \begin{align}
                A&\text{ is the accuracy,}\\
                C&\text{ is the completeness,}\\
                d&\text{ is the nearest distance function,}\\
                G&\text{ is the ground truth,}\\
                S&\text{ is the query shape.}\\
              \end{align}
            $$
          p As such the distance metric is defined as such,
          p.
            $$
              \begin{align}
                D(G, S) = \frac{A(G, S) + C(G, S)}{\lvert G\rvert_F}
              \end{align}
            $$
          p Where,
          p.
            $$
              \begin{align}
                D&\text{ is the distance metric,}\\
                \lvert .\rvert_F&\text{ is the Frobenius norm.}
              \end{align}
            $$

      script(src='src/result_browse.js', type="text/javascript").
    include sidebar.pug
    +sidebar("benchmark")
