html
  head
    include head
    script(type="text/x-mathjax-config").
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    script(type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML")
  body
    div.contentwrapper
      h1.grey_line Dataset
      div.content
        //p The datasets that will be used in the workshop are available for all to download. This includes sequences produced with orthogonal and perspective projection as well as some visibility. Five objects are available for which the relevant download links are given in each of their respective sections. The cover a variety of motion including stretching, bending and rigid joints. Each object is associated with six 2D sequences, each of which covers the same general camera pathing. Additionally each object is provided with an excerpt frame from the 3D ground truth, that can be used as a reference. All data is given in a CSV-format with spaces as seperators.
        //p Visibility is not provided for all objects, as some are more or less constrained to motion in a plane. This renders any raycasting- and normal-based occlusion would either arrive at the object being completely visible or compeltely occluded, which is not very useful.
      //h1.grey_line Download
      table.download
        tr
          th.header Articulated Joints
          th.header Balloon Deflation
          th.header Paper Bending
          th.header Rubber Stretching
          th.header Paper Tearing
        tr
          td.download_cell
            a(href="data/articulated.zip")
              img.download(src="/image/articulated.gif")
          td.download_cell
            a(href="data/balloon.zip")
              img.download(src="/image/balloon.gif")
          td.download_cell
            a(href="data/paper.zip")
              img.download(src="/image/paper.gif")
          td.download_cell
            a(href="data/stretch.zip")
              img.download(src="/image/stretch.gif")
          td.download_cell
            a(href="data/tearing.zip")
              img.download(src="/image/tear.gif")
      div.content
        div.tight_text
          p
            | You can download a set of Matlab functions that can help you participate 
            a(href="data/nrsfm_score_v0.2.zip") here
            | . It includes a script that makes loading, evaluating and exporting your 3D reconstruction easy, as well as a scoring script that can give you a feeling for your performance.
          p To participate in the challenge:
          ol
            li Download all five image sequences. (click the animations in the top of the page)
            ul
              li
                a(href="data/articulated.zip") Articulated Joint
              li
                a(href="data/balloon.zip") Balloon Deflation
              li
                a(href="data/paper.zip") Paper Bending
              li
                a(href="data/stretch.zip") Rubber Stretching
              li 
                a(href="data/tearing.zip") Paper Tearing
            li Follow the instructions given in the included README.txt.
            li Optionally use the supplied Matlab function (nrsfm_score) to get a feel for your performance.
            li
              | Submit your 3D reconstruction results to this 
              a(href="mailto:mebd@dtu.dk") email
              |  with the formatting given below.
          p Please provide your 3D reconstructions as separate CSV files with spaces a separators of size 3FxP. the format is similar to the supplied dataset sequences. Files should be organized in a single zip archive with the file structure given below:
          ul.files
            li full/
              ul.files
                li articulated/
                li balloon/
                li paper/
                li stretch/
                li tearing/
                  ul.files
                    li orthogonal/
                    li perspective/
                      ul.files
                        li circle.txt
                        li flyby.txt
                        li line.txt
                        li semi_circle.txt
                        li tricky.txt
                        li zigzag.txt
          p Optionally, you can also include reconstructions using missing data:
          ul.files
            li missing_data/
              ul.files
                li articulated/
                li balloon/
                li paper/
                li stretch/
                li tearing/
                  ul.files
                    li orthogonal/
                    li perspective/
                      ul.files
                        li circle.txt
                        li flyby.txt
                        li line.txt
                        li semi_circle.txt
                        li tricky.txt
                        li zigzag.txt
          //p
            | An example of this structure in action can be downloaded
            a(href="data/tearing.zip") here
            | . We provide a utility script that handles generating the specified file structure and exporting your 3D reconstructions. It can be downloaded in the above supplied link or
            a(href="data/nrsfm_score_v0.2.zip") here
            | .
          p
            | You can take a look at this
            a(href="data/nrsfm_submission_example.zip") example
            |  for the file structure in action. We provide a utility
            a(href="data/nrsfm_score_v0.2.zip") script
            |  that handles generating the specified file structure and exporting your 3D reconstructions.
    include sidebar.pug
    +sidebar("dataset")
