html
  head
    include head
  body
    div.contentwrapper
      h1.grey_line Important Dates
      div.content
        table.date
          tr
            th.date Submission Deadline:
            td.date(id="paper_p")
          //tr
            th.date Review completed:
            td.date(id="review_p")
          //tr
            th.date Camera ready papers:
            td.date(id="camera_p")
        //div(style="margin: 0, auto;text-align:center")
          i(style="font-size: 13px; text-align:center; width:100%") All above dates are given in your local time.
        table.date
          tr
            th.date Workshop Date:
            td.date(id="workshop_p")

      script.
        const sub_date = new Date('Feb 25 2013 6:00:00 UTC');
        const review_date = new Date('Feb 26 2013 7:00:00 UTC');
        const camera_date = new Date('Feb 27 2013 9:00:00 UTC');
        const workshop_date = new Date('Jul 26 2017 12:00:00 UTC');
        const options = {
          timeZone: 'CEST',
          timeZoneName: 'short'
        };
        document.getElementById('paper_p').innerHTML = 'TBD';
        //document.getElementById('review_p').innerHTML = review_date.toLocaleString();
        //document.getElementById('camera_p').innerHTML = camera_date.toLocaleString();
        document.getElementById('workshop_p').innerHTML = '7/26/2017';
    include sidebar.pug
    +sidebar("dates")
