html
  head
    include head
  body
    div.contentwrapper
      h1.grey_line Organizers
      div.person_descript
        div.portrait_container
          a(href="http://vgm.iit.it/")
            img.portrait(src='/image/bue.jpg')
        div.descript_container
          a.person(href="http://vgm.iit.it/")
            h1.name Alessio Del Bue
          h3.position Reseacher
          h3.position Istituto Italiano di Tecnologia
          p.descript Alessio Del Bue is the head of the Visual Geometry and Modelling (VGM) Lab at Istituto Italiano di Tecnologia (IIT), Genova, Italy. Starting his research on NRSfM in 2004, he contributed to the field with novel non-linear optimization methods, shape priors and studies over the motion manifold of rigid, non-rigid and articulated objects.
      div.person_descript
        div.portrait_container
          a(href="http://people.compute.dtu.dk/aanes/")
            img.portrait(src='/image/aanes.jpg')
        div.descript_container
          a.person(href="http://people.compute.dtu.dk/aanes/")
            h1.name Henrik Aanæs
          h3.position Associate Professor
          h3.position Technical University of Denmark
          p.descript Henrik Aanæs is heading the efforts for making large high quality data sets for Computer Vision at the Image Analysis and Computer Graphics Department at the Technical University of Denmark. These works are based on an elaborate lab setting built around a 6-axis industrial robot. The setup has also been used for the dataset related to this workshop.
      div.person_descript
        div.portrait_container
          a(href="http://www.dtu.dk/Service/Telefonbog/Person?id=100823&tab=0")
            img.portrait(src='/image/snje.jpg')
        div.descript_container
          a.person(href="http://www.dtu.dk/Service/Telefonbog/Person?id=100823&tab=0")
            h1.name Sebastian Nesgaard Jensen
          h3.position Ph.D. Student
          h3.position Technical University of Denmark
          p.descript Sebastian Nesgaard Jensen is a Ph.D. student employed at the Image Analysis and Computer Graphics Department at the Technical University of Denmark. A technical expert that has worked extensively to build different datasets and with the robotic setup used for data acquisition. He is one of the main driving forces in designing and implementing the data that will be used in this workshop.
      div.person_descript
        div.portrait_container
          a(href="http://www.cs.cmu.edu/~yaser/")
            img.portrait(src='/image/yaser.jpg')
        div.descript_container
          a.person(href="http://www.cs.cmu.edu/~yaser/")
            h1.name Yaser Sheikh
          h3.position Assistant Research Professor
          h3.position Carnegie Mellon University
          p.descript Yaser Sheikh and his colleagues pioneered the use of predefined trajectory basis functions for NRSfM and convex estimation approach for spatio-temporal 3D reconstruction. Yaser Sheikh has conducted tutorials at ECCV 2010 and at 3DV 2014 on dynamic 3D reconstruction. He designed the Panoptic Studio at Carnegie Mellon University, to study the 3D reconstruction of natural motion.
      h1.grey_line Invited Speakers
      div.person_descript
        div.portrait_container
          a(href="http://www.inf.usi.ch/bronstein/")
            img.portrait(src='/image/bronstein.jpg')
        div.descript_container
          a.person(href="http://www.inf.usi.ch/bronstein/")
            h1.name Michael M. Bronstein
          h3.position Associate Professor
          h3.position Università della Svizzera Italiana
          p.descript In 2010, he has joined the Institute of Computational Science in the Faculty of Informatics at the University of Lugano (USI), Switzerland, where he is currently an associate professor leading a research group on geometric and visual computing. Since 2012, he also serves as research scientist and principal engineer at the Perceptual Computing lab at Intel. Since 2016, he is appointed as associate professor of Applied Mathematics at Tel Aviv University in Israel. His main research interests are theoretical and computational methods in spectral and metric geometry and their application to problems in computer vision, pattern recognition, shape analysis, computer graphics, image processing, and machine learning. Most recently, he is interested in deep learning on non-Euclidean structured data such as graphs and manifolds. 
      div.person_descript
        div.portrait_container
          a(href="https://people.epfl.ch/119864")
            img.portrait(src='/image/salzmann.jpeg')
        div.descript_container
          a.person(href="https://people.epfl.ch/119864")
            h1.name Mathieu Salzmann
          h3.position Senior Researcher
          h3.position École Polytechnique Fédérale de Lausanne
          p.descript Dr. Mathieu Salzmann is a Senior Researcher at EPFL-CVLab. Before that he was a Senior Researcher and Research Leader in NICTA's computer vision research group. Prior to this he was a Research Assistant Professor at TTI-Chicago from Sept. 2010 to Jan 2012 and from Feb. 2009 to Aug. 2010 he was a postdoctoral fellow at ICSI and EECS at UC Berkeley under the supervision of Prof. Trevor Darrell. He obtained his Ph.D. in Jan. 2009 from EPFL under the supervision of Prof. Pascal Fua. His expertise lies at the intersection of learning and geometry for computer vision, with a particular focus on 3D reconstruction in challenging conditions, such as in the presence of non-rigid motion.
      div.person_descript
        div.portrait_container
          a(href="http://surreal.vision/#richard")
            img.portrait(src='/image/newcombe.png')
        div.descript_container
          a.person(href="http://surreal.vision/#richard")
            h1.name Richard Newcombe
          h3.position Co-Founder
          h3.position Surreal Vision
          p.descript Dr. Richard Newcombe has been researching computer vision and robot perception systems since a first encounter with robots during his BSc at the University of Essex. Since 2013 he has been a postdoctoral research associate at the University of Washington in Seattle where he continued to push the boundaries of real-time computer vision. He is now a research manager at OCULUS where he is working in innovative systems for VR
    include sidebar.pug
    +sidebar("people")
