html
  head
    include head
  body
    div.contentwrapper
      h1.grey_line Program
      div(style="text-align: center;")
        div.content
          p Workshop located in room 325AB.
          //i Tentative
          table.program(border="1")
            tr
              th.header(width="10%") Time
              th.header(width="30%") Event
              //th.header Description
            tr
              //th.program 8:30 AM
              //th.program 15min
              th.program 9:00 AM
              th.program Workshop Opening
              //td.descript Welcoming speech and coffe for and to participants.
            tr
              //th.program 8:45 AM
              //th.program 45min
              th.program 9:05 AM
              td.program
                p(style="white-space: pre;")
                  | #[span(style="font-weight: bold;") Spectral Non-Rigid Partial Correspondence]
                  | #[a(href = "http://www.inf.usi.ch/bronstein/", style="font-weight: normal;") Michael M. Bronstein]
                  //| Michael M. Bronstein
              //td.descript Topic TBD.
            tr
              //th.program 9:30 AM
              //th.program 30min
              th.program 9:50 AM
              th.program Presentation of the Challenge
              //td.descript The organizers presents the dataset that lies at the center of the challenge, documenting it's purpose and how it was created.
            tr
              //th.program 10:00 AM
              //th.program 30min
              th.program 10:10 AM
              th.program Break
              //td.descript Of the bio and coffee type.
            tr
              //th.program 10:30 AM
              //th.program 45min
              th.program 10:45 AM
              th.program
                p(style='white-space:pre;')
                  | #[span(style="font-weight: bold;") Monocular Reconstruction of Poorly-Textured Deformable Surfaces and Articulated Motion]
                  | #[a(href = "https://people.epfl.ch/119864", style="font-weight: normal;") Mathieu Salzmann]
                  //| #[span(style="font-weight: normal;") Mathieu Salzmann]
              //td.descript Topic TBD.
            tr
              //th.program 11:15 AM
              //th.program 30min
              th.program 11:30 AM
              th.program Presentation of the Challenge Results
              //td.descript The organizers present the general results of methods included in the challenge.
            //tr
              th.program 11:25 AM
              th.program Presentation of the Winning Method (sparse)
              td.descript Winners of the sparse challenge gets an opportunity to present thier method.
            //tr
              th.program 11:35 AM
              th.program Presentation of the Winning Method (dense)
              td.descript Winners of the dense challenge gets an opportunity to present thier method.
            tr
              //th.program 11:45 AM
              //th.program 45min
              th.program 12:00 PM
              th.program
                p(style='white-space:pre;')
                  | Self-Supervised Visual Descriptor Learning for Non-Rigid Dense Correspondence
                  | #[a(href="http://surreal.vision/#richard", style="font-weight: normal;") Richard Newcombe]
                  //| #[span(style="font-weight: normal;") Richard Newcombe]
              //td.descript Topic TBD.
            tr
              //th.program 12:30 PM
              //th.program 30min
              th.program 12:45 PM
              th.program Discussion in Plenum and Closure
              //td.descript Opportunity for open discussion and intepretation of the results.
            tr
              //th.program 12:30 PM
              //th.program 30min
              th.program 1:00 PM
              th.program The End

        h1.grey_line Dates
        div.content
          table.date
            tr
              th.date(style="text-decoration: line-through;") Submission Deadline:
              td.date(style="text-decoration: line-through;") 6/26/2017, 11:59 PM, GMT+2
            tr
              th.date Extended Submission Deadline:
              td.date 6/30/2017, 11:59 PM, GMT+2
            tr
              th.date Workshop Date:
              td.date(id="work_date") 7/26/2017, 9:00 AM, GMT-10
          //div.date_line
            i Exact time for the workshop will be determined at a later date.
        //script.
          const sub_date = new Date('Jun 26 2017 24:00:00 UTC');
          document.getElementById('sub_deadline').innerHTML = sub_date.toUTCString();


    include sidebar.pug
    +sidebar("program")
