script.
  // Hack to make distinct work
  defaultComparer = (a, b) => a == b;
script(type="text/javascript" src="module/d3.min.js").
link(rel='stylesheet', href='style/suit_style.css', type='text/css')
link(rel='stylesheet', href='style/result.css', type='text/css')
//script(type="text/javascript" src="module/rx.js")
script(type="text/javascript" src="module/rx.lite.js").
script(type="text/javascript" src="module/rx.lite.extras.js").
//script(type="text/javascript" src="module/rx.lite.extras.compat.js")
script(type="text/javascript" src="module/rx.dom.min.js").

div.data_column
  div.option_pane
    b.option_name Set:
    button.pane_item(id="b_sparse") Sparse
    button.pane_item(id="b_dense") Dense

  div.option_pane
    b.option_name Metric:
    button.pane_item(id="b_frobenius") Frobenius
    button.pane_item(id="b_accuracy") Accuracy
    button.pane_item(id="b_completeness") Completeness
    button.pane_item(id="b_outliers") Outliers
    button.pane_item(id="b_time") Time

  div.option_pane
    b.option_name Interaction:
    button.pane_item(id="b_none") None
    button.pane_item(id="b_scene") Scene
    button.pane_item(id="b_path") Camera Path

  div.table_container
    table(id="csvtable", style="width: 100%")

div.descript_column
  div.contentbox
    div.textbox(style="width: 90%")
      h1.contenttext(id='h_acro') Eh
    h1.bluetext(style='font-size: 25px') Title
    p(id = "p_title") stuff
    h1.bluetext(style='font-size: 25px') Authors
    p(id = "p_author") stuff
    h1.bluetext(style='font-size: 25px') Year
    p(id = "p_year") 1970
    h1.bluetext(style='font-size: 25px') Journal
    p(id = "p_journal") N/A
    //h1.bluetext(style='font-size: 25px') Description
    //p(id = "p_descript") meh
    //h1.bluetext(style='font-size: 25px') Link
    //p(id = "p_link") bar

script(type="text/javascript", src="src/result_browse.js").
