mixin sidebar(sl)
  div.sidebar
    h1.sidebar NRSfM 2017
    div(class="pane_top")
      a(class=(sl == "home" ? "pane_selected" : "pane_item"), href='/home') Home
      a(class=(sl == "submit" ? "pane_selected" : "pane_item"), href='/submit') Submit
      a(class=(sl == "dataset" ? "pane_selected" : "pane_item"), href='/dataset') Dataset
      a(class=(sl == "benchmark" ? "pane_selected" : "pane_item"), href='/benchmark') Benchmark
      //a(class=(sl == "dates" ? "pane_selected" : "pane_item"), href='/dates') Dates
      a(class=(sl == "program" ? "pane_selected" : "pane_item"), href='/program') Program & Dates
      a(class=(sl == "people" ? "pane_selected" : "pane_item"), href='/people') People
    p.descript Workshop held at:
    div(style="width:90%;background-color: #ffffff;margin: 0 auto;")
      a(href="http://cvpr2017.thecvf.com/")
        img(src="image/CVPRLogo.svg", style="width:100%")
    p.descript Hawaii Convention Center
    p.descript Honolulu, Hawaii
    p.descript July 26 2017
    p.descript(style="margin-top: 75px") Prize sponsored by:
    div(style="width:90%;background-color: #ffffff;margin: 0 auto;")
      object(data="image/dr-logo-red.svg")
