html
  head
    include head
  body
    div.contentwrapper
      h1.grey_line Submission Guidelines
      div.content
        p To participate in the NRSFM Challenge, please follow the guidelines:
        ol
          li
            | Download the dataset from this page 
            a(href="/dataset") link
            | .
          li Run your NRSFM algorithm on the given 2D image track sequences.
          li
            | Provide the 3D reconstruction given the instruction on the 
            a(href="/dataset") dataset page
            | .
          li
            | Submit the reconstructions results to the following 
            a(href="mailto:mebd@dtu.dk") email
            |  (Deadline at 
            a(href="/program") program page
            | ).
          li
            | Prepare and submit a two page-long abstract describing your approach along with your results (Deadline at 
            a(href="/program") program page
            | ).
        p More detailed information about evaluation protocol will be disclosed soon.
        p The NRSFM Challenge strongly support reproducible research and we welcome methods that make freely available their code.
        p The best performing methods will be awarded a prize kindly offered by the workshop sponsors.

    include sidebar.pug
    +sidebar("submit")
